@charset "UTF-8";
/*fonts*/
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:regular,500,600");
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff") format("woff") url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}
/*default*/
html {
  --container: 1324px;
  --padding-container: 15px;
  --bg-color: #171616;
  --bg-accent: #232121;
  --accent: #C7954B;
  --hover: #A87429;
  --active: #B58640;
  --text-color: #ffffff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: url("../img/background.svg");
  background-repeat: repeat-y;
  background-size: 100%;
  background-position: top;
  margin: 0;
  padding: 0;
  position: relative;
}
body.lock {
  height: 100vh;
  overflow: hidden;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

svg {
  display: block;
  width: 100%;
  height: auto;
}

button {
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.5s ease 0s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

h1,
h2,
h3,
p,
figure {
  margin: 0;
}

iframe {
  border: none;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

section {
  padding: 84px 0;
}
@media (max-width: 1024px) {
  section {
    padding: 50px 0;
  }
}
@media (max-width: 992px) {
  section {
    padding: 40px 0;
  }
}
@media (max-width: 320px) {
  section {
    padding: 37px 0;
  }
}

.container {
  max-width: calc(var(--container) + var(--padding-container) * 2);
  padding: 0 var(--padding-container);
  margin: 0 auto;
}

.title {
  font-family: "Gilroy", sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 80px;
}

.subtitle {
  font-family: "Gilroy", sans-serif;
  font-size: 44px;
  font-weight: 800;
}
@media (max-width: 1024px) {
  .subtitle {
    font-size: 32px;
  }
}
@media (max-width: 425px) {
  .subtitle {
    text-align: center;
    font-size: 24px;
  }
}

.contact-wrap {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.contact-wrap a {
  font-family: "Gilroy", sans-serif;
  color: var(--text-color);
  font-size: 27px;
  font-weight: 700;
  margin-bottom: 6px;
  letter-spacing: 0.7px;
}
.contact-wrap .grey {
  color: rgba(255, 255, 255, 0.5);
}

.logo {
  max-width: 210px;
}

.text-gold {
  font-family: "Gilroy", sans-serif;
  font-size: 56px;
  font-weight: 400;
}
@media (max-width: 992px) {
  .text-gold {
    font-size: 36px;
  }
}
@media (max-width: 425px) {
  .text-gold {
    font-size: 32px;
  }
}

.photo-img {
  display: flex;
}
@media (max-width: 1354px) {
  .photo-img {
    align-self: center;
  }
}

.slide-bottom {
  position: relative;
  height: 18px;
  margin: 0 auto;
}

.swiper-pagination {
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  border: 1px solid var(--accent);
  background-color: transparent;
  margin: 0 7px !important;
  height: 12px;
  width: 12px;
}
@media (max-width: 425px) {
  .swiper-pagination-bullet {
    height: 10px;
    width: 10px;
    margin: 0 4px !important;
  }
}
.swiper-pagination-bullet:focus {
  background: var(--accent);
  height: 15px;
  width: 15px;
}
@media (max-width: 425px) {
  .swiper-pagination-bullet:focus {
    height: 12px;
    width: 12px;
  }
}

.arrows {
  display: flex;
  gap: 25px;
  cursor: pointer;
}
@media (max-width: 800px) {
  .arrows {
    display: none;
  }
}

.text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 1024px) {
  .text {
    font-size: 14px;
    line-height: 22px;
  }
}
@media (max-width: 425px) {
  .text {
    text-align: center;
  }
}

.btn_big {
  font-family: "Gilroy", sans-serif;
  width: 316px;
  height: 90px;
  font-size: 20px;
  font-weight: 600;
  color: var(--bg-color);
  background-color: var(--accent);
}
@media (max-width: 992px) {
  .btn_big {
    width: 290px;
    height: 70px;
  }
}
@media (max-width: 425px) {
  .btn_big {
    display: block;
    height: 64px;
    font-size: 16px;
  }
}

.btn {
  font-family: "Gilroy", sans-serif;
  width: 316px;
  height: 74px;
  font-size: 16px;
  font-weight: 500;
  color: var(--bg-color);
  background-color: var(--accent);
}
@media (max-width: 425px) {
  .btn {
    width: 290px;
  }
}

.form {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 8px;
  -moz-column-gap: 20px;
       column-gap: 20px;
  max-width: 988px;
}
@media (max-width: 1024px) {
  .form {
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 12px;
    justify-content: space-between;
  }
}
@media (max-width: 425px) {
  .form {
    align-items: center;
  }
}

.inputs {
  display: flex;
  gap: 20px;
}
@media (max-width: 720px) {
  .inputs {
    flex-direction: column;
    gap: 14px;
    margin-bottom: 2px;
  }
}

.input {
  width: 316px;
  padding: 27.5px 36px;
  border: 1px solid var(--text-color);
  background-color: transparent;
  outline: none;
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  font-family: "Gilroy", sans-serif;
  color: rgba(255, 255, 255, 0.5);
}
.input::-webkit-input-placeholder {
  color: #a0a0a9;
}
.input::-moz-placeholder {
  color: #a0a0a9;
}
.input:-moz-placeholder {
  color: #a0a0a9;
}
.input:-ms-input-placeholder {
  color: #a0a0a9;
}
.input:focus {
  border-color: #ffffff;
  color: #fff;
}
@media (max-width: 425px) {
  .input {
    width: 290px;
  }
}

.agreement {
  font-family: "IBM Plex Sans", sans-serif;
  max-width: 316px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.5);
}
@media (max-width: 720px) {
  .agreement {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .agreement {
    font-size: 10px;
    line-height: 14px;
  }
}

.contact-btn {
  color: var(--accent);
  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.icon {
  margin-bottom: 32px;
  width: 60px;
  height: 60px;
}
@media (max-width: 640px) {
  .icon {
    margin: 0 auto 12px;
  }
}
@media (max-width: 470px) {
  .icon {
    width: 56px;
    height: 56px;
    margin-bottom: 12px;
  }
}

.headline {
  font-family: "Gilroy", sans-serif;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
@media (max-width: 640px) {
  .headline {
    margin: 0 auto 8px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .headline {
    text-align: center;
    font-size: 20px;
  }
}

h1 span,
h2 span,
h3 span,
p span {
  color: var(--accent);
  font-weight: 600;
}

@media (max-width: 320px) {
  html {
    --container: 290px;
  }
}
#map {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 425px) {
  #map {
    height: 498px;
    position: absolute;
    bottom: 0;
  }
}

/*UI kit*/
a:hover {
  color: var(--hover);
}
a:active {
  color: var(--active);
}

button:hover {
  background-color: var(--hover);
}
button:active {
  background-color: var(--active);
}

.header__contact-btn:hover, .contact-btn:hover {
  color: var(--hover);
  background-color: transparent;
}
.header__contact-btn:active, .contact-btn:active {
  color: var(--active);
  background-color: transparent;
}

.link span:hover {
  color: var(--hover);
}
.link span:active {
  color: var(--active);
}

/*header*/
.header {
  position: relative;
  padding-top: 84px;
  margin-bottom: 45px;
}
@media (max-width: 1024px) {
  .header {
    padding-top: 50px;
    margin-bottom: 30px;
  }
}
@media (max-width: 992px) {
  .header {
    padding-top: 28px;
    margin-bottom: 20px;
  }
}
@media (max-width: 320px) {
  .header {
    margin-bottom: 0;
  }
}
.header__container {
  font-family: "Gilroy", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-color);
  height: 59px;
}
.header__right {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
@media (max-width: 768px) {
  .header__contact {
    display: none;
  }
}
.header__menu-icon {
  position: relative;
  width: 35px;
  height: 25px;
  align-self: center;
  z-index: 5;
  cursor: pointer;
}
@media (max-width: 320px) {
  .header__menu-icon {
    width: 22px;
    height: 15px;
  }
}
.header__menu-icon span {
  position: absolute;
  top: calc(50% - 2px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transition: all 0.3s ease 0s;
}
@media (max-width: 320px) {
  .header__menu-icon span {
    top: calc(50% - 1px);
    height: 1px;
  }
}
.header__menu-icon span:first-child {
  top: 0;
}
.header__menu-icon span:last-child {
  top: auto;
  bottom: 0;
}
.header__menu-icon.active span {
  transform: scale(0);
}
.header__menu-icon.active span:first-child {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.header__menu-icon.active span:last-child {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}
.header__navigation {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: -100%;
  display: flex;
  background-color: var(--bg-accent);
  overflow: auto;
  transition: all 0.8s;
}
.header__navigation.active {
  right: 0;
}
.header__navigation ul {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: auto;
  padding: 30px;
}
.header__navigation ul li + li {
  margin-top: 50px;
}
@media (max-width: 320px) {
  .header__navigation ul {
    width: 100%;
    padding: 20px;
  }
}
.header__navigation a {
  display: block;
  font-size: 25px;
  font-weight: 800;
}

@media (max-width: 320px) {
  .logo {
    width: 135px;
  }
}

/*info section*/
.info__title {
  max-width: 1093px;
  margin-bottom: 40px;
}
@media (max-width: 1024px) {
  .info__title {
    font-size: 58px;
    line-height: 1.2;
  }
}
@media (max-width: 992px) {
  .info__title {
    font-size: 45px;
    line-height: 1.2;
  }
}
@media (max-width: 425px) {
  .info__title {
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 12px;
  }
}
.info__text {
  max-width: 654px;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 44px;
  margin-bottom: 73px;
}
@media (max-width: 1024px) {
  .info__text {
    font-size: 24px;
  }
}
@media (max-width: 992px) {
  .info__text {
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 50px;
  }
}
@media (max-width: 425px) {
  .info__text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
  }
}
@media (max-width: 425px) {
  .info__btn {
    margin: 0 auto;
  }
}

/*about section*/
.about__container {
  display: flex;
  gap: 132px;
}
@media (max-width: 1240px) {
  .about__container {
    gap: 35px;
  }
}
@media (max-width: 992px) {
  .about__container {
    gap: 20px;
  }
}
@media (max-width: 875px) {
  .about__container {
    flex-direction: column;
  }
}
.about__right {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 540px;
  padding-top: 48px;
}
@media (max-width: 1068px) {
  .about__right {
    padding-top: 0;
  }
}
@media (max-width: 875px) {
  .about__right {
    max-width: 98%;
  }
}
.about__description {
  margin-bottom: 62px;
}
@media (max-width: 1068px) {
  .about__description {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .about__description {
    margin-bottom: 12px;
  }
}
.about__subtitle {
  margin-bottom: 28px;
}
@media (max-width: 1068px) {
  .about__subtitle {
    margin-bottom: 20px;
  }
}
@media (max-width: 425px) {
  .about__subtitle {
    align-self: center;
  }
}
.about__text:first-child {
  margin-bottom: 16px;
}
@media (max-width: 425px) {
  .about__text {
    text-align: start;
  }
}
.about__progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 49px;
}
@media (max-width: 1068px) {
  .about__progress {
    row-gap: 19px;
  }
}
@media (max-width: 875px) {
  .about__progress {
    margin: 0 auto;
    justify-content: space-around;
  }
}
.about__progress-text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-self: baseline;
}
@media (max-width: 992px) {
  .about__progress-text {
    gap: 2px;
  }
}
.about__progress-text:nth-child(even) {
  max-width: 204px;
}
.about__progress-text p {
  font-size: 20px;
  width: 218px;
}
@media (max-width: 992px) {
  .about__progress-text p {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .about__progress-text p {
    width: 135px;
    text-align: center;
  }
}
.about__progress-text p span sup {
  font-size: 35px;
}
@media (max-width: 992px) {
  .about__progress-text p span sup {
    font-size: 20px;
  }
}
@media (max-width: 600px) {
  .about__progress-text p span sup {
    font-size: 14px;
  }
}
.about__progress-text .text {
  max-width: 208px;
}

/*consult section*/
.consult__subtitle {
  margin-bottom: 33px;
  max-width: 644px;
}
@media (max-width: 1024px) {
  .consult__subtitle {
    margin-bottom: 25px;
  }
}
.consult__text {
  margin-bottom: 47px;
  max-width: 600px;
}
@media (max-width: 1024px) {
  .consult__text {
    margin-bottom: 35px;
    max-width: 100%;
  }
}

.agreement a {
  text-decoration: underline;
  color: var(--accent);
}

/*features section*/
.features__subtitle {
  max-width: 440px;
  margin-bottom: 44px;
}
.features__info {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  gap: 20px;
}
@media (max-width: 1340px) {
  .features__info {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 937px) {
  .features__info {
    flex-direction: column;
    -moz-column-gap: 58px;
         column-gap: 58px;
  }
}
.features__info-wrap {
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}
@media (max-width: 1340px) {
  .features__info-wrap {
    max-width: 40%;
  }
}
@media (max-width: 937px) {
  .features__info-wrap {
    max-width: 100%;
  }
}
.features__text {
  margin-bottom: 24px;
  min-height: 72px;
}
@media (max-width: 640px) {
  .features__text {
    text-align: center;
    margin-bottom: 8px;
  }
}
.features__contact-btn {
  font-size: 18px;
}
@media (max-width: 640px) {
  .features__contact-btn {
    display: block;
    margin: 0 auto;
  }
}
@media (max-width: 425px) {
  .features__contact-btn {
    font-size: 14px;
  }
}

/*catalog section*/
.catalog__top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 46px;
}
@media (max-width: 425px) {
  .catalog__top {
    margin-bottom: 22px;
  }
}
.catalog__subtitle {
  max-width: 418px;
}
.catalog__link {
  color: var(--accent);
  text-decoration: underline;
}
.catalog__swiper {
  position: relative;
}
.catalog__swiper-wrapper {
  height: 688px;
  margin-bottom: 44px;
}
@media (max-width: 425px) {
  .catalog__swiper-wrapper {
    margin-bottom: 24px;
    height: 499px;
  }
}
.catalog__slide {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
}
@media (max-width: 1200px) {
  .catalog__slide {
    justify-content: center;
  }
}
.catalog__card {
  width: 428px;
  height: 100%;
  font-family: "Gilroy", sans-serif;
  position: relative;
  z-index: 10;
  overflow: hidden;
  /*меняем фон и вид карточки при наведении*/
}
.catalog__card:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 50%);
  z-index: -1;
}
.catalog__card:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.62) 30%);
}
.catalog__card:hover .card__block {
  transform: translateY(0);
}

.card__block {
  transform: translateY(107px);
  transition: transform 0.3s;
}
.card__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 35px 30px 32px 35px;
  height: 100%;
}
.card__img {
  position: absolute;
  z-index: -5;
  -o-object-fit: cover;
     object-fit: cover;
}
.card__img::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.5) 50%);
}
.card__price {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  align-self: self-start;
}
@media (max-width: 425px) {
  .card__price {
    text-align: center;
    font-size: 24px;
    letter-spacing: 1.44px;
  }
}
.card__name {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
  margin-bottom: 8px;
}
@media (max-width: 425px) {
  .card__name {
    text-align: center;
    font-size: 16px;
  }
}
.card__name sup {
  font-size: 12px;
}
.card__adress {
  color: rgba(255, 255, 255, 0.5);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
  font-style: normal;
}
@media (max-width: 425px) {
  .card__adress {
    text-align: center;
    font-size: 12px;
    line-height: 16px;
  }
}
.card__btn {
  margin-top: 20px;
}
.card__btn-active {
  display: block;
  pointer-events: all;
}
@media (max-width: 425px) {
  .card__btn {
    max-width: 98%;
  }
}

/*partners section*/
.partners__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 800px) {
  .partners__container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 44px 10px;
  }
}
@media (max-width: 540px) {
  .partners__container {
    gap: 44px 110px;
  }
}
@media (max-width: 350px) {
  .partners__container {
    gap: 44px 24px;
  }
}

.partner__item {
  width: 250px;
  height: 92px;
}
@media (max-width: 540px) {
  .partner__item {
    width: 100px;
    height: 64px;
  }
}
@media (max-width: 800px) {
  .partner__item:last-child {
    display: none;
  }
}

/*guarantee section*/
.guarantee__container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
@media (max-width: 1240px) {
  .guarantee__container {
    flex-wrap: wrap;
    gap: 36px;
  }
}
.guarantee__left {
  max-width: 564px;
}
@media (max-width: 1240px) {
  .guarantee__left {
    max-width: 100%;
  }
}
.guarantee__subtitle {
  max-width: 484px;
  margin-bottom: 32px;
}
.guarantee__headline {
  max-width: 100%;
}
@media (max-width: 640px) {
  .guarantee__headline {
    margin-bottom: 20px;
    text-align: left;
  }
}
@media (max-width: 425px) {
  .guarantee__headline {
    text-align: center;
    font-size: 20px;
    margin-bottom: 36px;
  }
}
@media (max-width: 640px) {
  .guarantee__text {
    text-align: center;
  }
}
.guarantee__list {
  max-width: 564px;
}
@media (max-width: 1240px) {
  .guarantee__list {
    max-width: 100%;
  }
}
.guarantee__list-item {
  margin-bottom: 12px;
  padding-left: 27px;
  position: relative;
}
.guarantee__list-item::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 0;
  display: block;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: var(--accent);
}
@media (max-width: 1240px) {
  .guarantee__list-item::before {
    top: 5px;
  }
}
@media (max-width: 425px) {
  .guarantee__list-item::before {
    top: 0;
    left: calc(50% - 8px);
  }
}
@media (max-width: 425px) {
  .guarantee__list-item {
    padding: 24px 0 0;
  }
}
.guarantee__right {
  display: flex;
  flex-wrap: wrap;
  max-width: 651px;
  gap: 56px 38px;
}
@media (max-width: 1240px) {
  .guarantee__right {
    max-width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 640px) {
  .guarantee__right {
    flex-direction: column;
  }
}
@media (max-width: 425px) {
  .guarantee__right {
    gap: 28px;
  }
}
.guarantee__right-wrap {
  max-width: 300px;
}
@media (max-width: 1240px) {
  .guarantee__right-wrap {
    max-width: 37%;
  }
}
@media (max-width: 640px) {
  .guarantee__right-wrap {
    max-width: 100%;
  }
}

/*stages section*/
.stages__container {
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  gap: 134px;
}
@media (max-width: 1240px) {
  .stages__container {
    gap: 24px;
  }
}
@media (max-width: 925px) {
  .stages__container {
    flex-direction: column-reverse;
  }
}
.stages__right {
  max-width: 466px;
  display: flex;
  flex-direction: column;
  padding-top: 104px;
}
@media (max-width: 925px) {
  .stages__right {
    flex-direction: column;
    padding-top: 0;
    max-width: 100%;
  }
}
.stages__subtitle {
  margin-bottom: 8px;
}
.stages__options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}
@media (max-width: 1240px) {
  .stages__options {
    flex-direction: column;
    align-items: start;
    gap: 4px;
    margin-bottom: 28px;
  }
}
@media (max-width: 925px) {
  .stages__options {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .stages__options {
    flex-direction: column;
  }
}
.stages__options-btn {
  color: rgba(255, 255, 255, 0.5);
  text-align: right;
  font-size: 20px;
  letter-spacing: 0.2px;
}
.stages__progress {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 428px;
  max-height: 447px;
  gap: 48px;
}
@media (max-width: 925px) {
  .stages__progress {
    max-width: 75%;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .stages__progress {
    max-width: 100%;
    gap: 28px 0;
  }
}
.stages__progress-text {
  display: flex;
  flex-direction: column;
  width: 148px;
  gap: 4px;
}
@media (max-width: 425px) {
  .stages__progress-text {
    align-items: center;
    width: 130px;
  }
}

/*credit-help section*/
.credit-help__container {
  position: relative;
}
.credit-help__wrap {
  max-width: calc(50% - 25px);
  padding-top: 135px;
  padding-bottom: 186px;
}
@media (max-width: 1200px) {
  .credit-help__wrap {
    padding-top: 100px;
    padding-bottom: 110px;
  }
}
@media (max-width: 920px) {
  .credit-help__wrap {
    padding-top: 50px;
    padding-bottom: 60px;
  }
}
@media (max-width: 768px) {
  .credit-help__wrap {
    max-width: 100%;
    padding-top: 0;
    padding-bottom: 0;
  }
}
.credit-help__subtitle {
  margin-bottom: 28px;
}
@media (max-width: 925px) {
  .credit-help__subtitle {
    margin-bottom: 20px;
  }
}
.credit-help__description {
  margin-bottom: 48px;
}
@media (max-width: 925px) {
  .credit-help__description {
    margin-bottom: 12px;
  }
}
.credit-help__text:first-child {
  margin-bottom: 15px;
}
@media (max-width: 425px) {
  .credit-help__text {
    text-align: start;
  }
}
.credit-help__photo-img {
  position: absolute;
  top: 0;
  right: 15px;
  max-width: calc(50% - 25px);
  height: 100%;
}
@media (max-width: 768px) {
  .credit-help__photo-img {
    position: relative;
    right: 0;
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
}
.credit-help__photo-img img {
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 425px) {
  .credit-help__btn {
    display: block;
    margin: 0 auto;
  }
}

/*feedback section*/
.feedback__container_top {
  margin-bottom: 44px;
}
.feedback__container_bottom {
  max-width: 1666px;
  padding: 0 var(--padding-container);
}
.feedback__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.feedback__subtitle {
  max-width: 547px;
}
@media (max-width: 800px) {
  .feedback__arrows {
    position: absolute;
    bottom: -567%;
    right: 0;
    display: flex;
    z-index: 10;
  }
}
@media (max-width: 425px) {
  .feedback__arrows {
    bottom: -745%;
    gap: 15px;
  }
  .feedback__arrows svg {
    width: 30px;
  }
}
.feedback__swiper-wrapper {
  margin-bottom: 45px;
  height: 335px;
}
@media (max-width: 800px) {
  .feedback__swiper-wrapper {
    margin-bottom: 24px;
  }
}
.feedback__slide {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 100%;
}
.feedback__card {
  font-family: "IBM Plex Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 0 56px;
  background-color: var(--bg-accent);
}
@media (max-width: 1024px) {
  .feedback__card {
    padding: 28px;
    gap: 32px;
  }
}
.feedback__text {
  max-width: 430px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
@media (max-width: 800px) {
  .feedback__text {
    font-size: 14px;
    line-height: 22px;
  }
}
.feedback__info {
  display: flex;
  align-items: center;
  gap: 15px;
}
.feedback__img {
  width: 55px;
  height: 55px;
}
.feedback__name {
  font-family: "Gilroy", sans-serif;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
@media (max-width: 800px) {
  .feedback__name {
    font-size: 16px;
    letter-spacing: 0.16px;
  }
}
.feedback__city {
  color: rgba(255, 255, 255, 0.5);
  font-style: normal;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
@media (max-width: 800px) {
  .feedback__city {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .feedback__slide-bottom .swiper-pagination {
    width: auto;
  }
}

/*location section*/
.location__container {
  height: 884px;
  position: relative;
}
@media (max-width: 1320px) {
  .location__container {
    height: 680px;
    padding: 0;
  }
}
@media (max-width: 900px) {
  .location__container {
    height: 638px;
  }
}
.location__wrap {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 78px;
  background-color: var(--bg-accent);
  display: flex;
  flex-direction: column;
  width: 392px;
  padding: 60px;
  gap: 24px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 400;
  z-index: 10;
}
@media (max-width: 1240px) {
  .location__wrap {
    left: 15px;
  }
}
@media (max-width: 900px) {
  .location__wrap {
    width: 290px;
    padding: 44px;
    gap: 10px;
  }
}
@media (max-width: 768px) {
  .location__wrap {
    top: 20%;
  }
}
@media (max-width: 425px) {
  .location__wrap {
    position: relative;
    top: 0;
    transform: translateY(0);
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
}
.location__adress {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
.location-img {
  width: 20px;
  height: 20px;
}
.location__tel {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
.location__mode {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
}
.location-info {
  display: flex;
  flex-direction: column;
}

.attribute {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}
@media (max-width: 900px) {
  .attribute {
    font-size: 12px;
    line-height: normal;
  }
}

.attribute-value {
  font-size: 20px;
}
@media (max-width: 900px) {
  .attribute-value {
    font-size: 16px;
    line-height: 20px;
  }
}

/*footer*/
.footer {
  padding: 64px 0 56px;
}
@media (max-width: 560px) {
  .footer {
    padding: 4px 0 36px;
  }
}
.footer__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
@media (max-width: 560px) {
  .footer__top {
    flex-direction: column;
    margin-bottom: 24px;
  }
}
.footer__navigation {
  font-size: 16px;
  font-weight: 400;
}
.footer__navigation ul {
  font-family: "IBM Plex Sans", sans-serif;
  -moz-column-count: 4;
       column-count: 4;
  margin-bottom: -16px;
}
@media (max-width: 1220px) {
  .footer__navigation ul {
    -moz-column-count: 2;
         column-count: 2;
  }
}
@media (max-width: 940px) {
  .footer__navigation ul {
    font-size: 14px;
    margin-bottom: -8px;
  }
}
@media (max-width: 720px) {
  .footer__navigation ul {
    -moz-column-count: 1;
         column-count: 1;
    text-align: center;
  }
}
@media (max-width: 560px) {
  .footer__navigation ul {
    margin-bottom: 16px;
  }
}
.footer__navigation ul li {
  margin-bottom: 16px;
}
@media (max-width: 940px) {
  .footer__navigation ul li {
    margin-bottom: 8px;
  }
}
.footer__contact a {
  font-size: 24px;
}
.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 720px) {
  .footer__bottom {
    flex-direction: column;
  }
}
.footer__bottom-left {
  display: flex;
  justify-content: space-between;
  width: 208px;
}
@media (max-width: 425px) {
  .footer__bottom-left {
    width: 159px;
  }
}
.footer__bottom-center {
  position: absolute;
  display: flex;
  justify-content: space-between;
  gap: 53px;
  line-height: 18px;
  left: 310px;
}
@media (max-width: 1024px) {
  .footer__bottom-center {
    left: 240px;
  }
}
@media (max-width: 940px) {
  .footer__bottom-center {
    flex-direction: column;
    gap: 0;
    position: static;
  }
}

@media (max-width: 940px) {
  .logo {
    width: 168px;
  }
}
@media (max-width: 560px) {
  .logo {
    margin-bottom: 16px;
  }
}

/*modals*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  display: none;
  transition: all 0.2s;
  pointer-events: none;
}
.modal_active {
  display: block;
  pointer-events: all;
}
.modal__wrap {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 120px 10px 20px;
}
.modal__body {
  position: relative;
  padding: 5% 5px;
  max-width: 727px;
  margin: auto;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__content {
  max-width: 460px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal__subtitle {
  margin-bottom: 14px;
}
.modal__text {
  margin-bottom: 64px;
  text-align: center;
  font-size: 24px;
  line-height: 32px;
}
@media (max-width: 425px) {
  .modal__text {
    margin-bottom: 35px;
    font-size: 14px;
    line-height: 20px;
  }
}
.modal__form {
  justify-content: center;
  max-width: 350px;
}
.modal__form input {
  width: 100%;
  margin-bottom: 12px;
}
.modal__form button {
  width: 100%;
}
.modal__form p {
  width: 100%;
  text-align: center;
}
.modal__close-btn {
  position: absolute;
  right: -100px;
  top: -100px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .modal__close-btn {
    right: 0;
  }
}
@media (max-width: 425px) {
  .modal__close-btn {
    width: 50px;
    height: 50px;
    top: -60px;
  }
}

.modal__wrap-card {
  padding-top: 60px;
}
.modal-card {
  display: none;
}
.modal__card {
  display: flex;
}
.modal__card-active {
  display: block;
  pointer-events: all;
}
.modal__card-body {
  position: relative;
  padding: 5px;
  max-width: 866px;
  margin: auto;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal__card-info {
  max-width: 50%;
  font-family: "Gilroy", sans-serif;
  padding: 40px;
}
.modal__card-block {
  margin-bottom: 52px;
}
.modal__card-price {
  margin-bottom: 14px;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1.92px;
  text-transform: uppercase;
}
.modal__card-name {
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.modal__card-adress {
  color: rgba(255, 255, 255, 0.5);
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.16px;
}
.modal__card-form {
  justify-content: flex-start;
  gap: 20px;
}
.modal__card-arrows {
  position: absolute;
  display: flex;
  bottom: 5px;
  left: 50%;
  background-color: var(--bg-color);
  width: 210px;
  height: 100px;
}
.modal__card-arrow-prew {
  padding: 50px 35px;
}
.modal__card-arrow-next {
  padding: 50px 35px;
}

.description {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  max-width: 331px;
  margin-bottom: 74px;
}
.description-icon {
  width: 36px;
  height: 36px;
  margin-bottom: 0;
}
.description-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  max-width: 70%;
}

.description-item {
  display: flex;
  align-items: center;
  width: 45%;
  gap: 20px;
}/*# sourceMappingURL=style.css.map */