/*credit-help section*/

.credit-help {

	&__container {
        position: relative;
	}

	&__wrap {
        max-width: calc(50% - 25px);
        padding-top: 135px;
        padding-bottom: 186px;

        @media(max-width: 1200px){
            padding-top: 100px;
            padding-bottom: 110px;
        }

        @media(max-width: 920px){
            padding-top: 50px;
            padding-bottom: 60px;
        }

        @media(max-width: 768px){
            max-width: 100%;
            padding-top: 0;
            padding-bottom: 0;
        }
	}

	&__subtitle {
        margin-bottom: 28px;

        @media(max-width: 925px){
            margin-bottom: 20px;
        }
	}

	&__description {
        margin-bottom: 48px;

        @media(max-width: 925px){
            margin-bottom: 12px;
        }
	}

	&__text {
        &:first-child{
            margin-bottom: 15px;
        }

        @media(max-width: 425px){
            text-align: start;        
        }
	}

	&__photo-img {
        position: absolute;
        top: 0;
        right: 15px;
        max-width: calc(50% - 25px);
        height: 100%;

        @media(max-width: 768px){
            position: relative;
            right: 0;
            max-width: 100%;
            height: auto;
            margin-bottom: 12px;
        }

        & img{
            object-fit: cover;
        }
	}

    &__btn{
        @media(max-width: 425px){
            display: block;
            margin: 0 auto;        
        }
    }
}

