/*features section*/

.features {
    &__subtitle {
            max-width: 440px;
            margin-bottom: 44px;
        }

    &__info{
        display: flex;
        justify-content: space-between;
        max-width: 100%;
        gap: 25px;
            
        @media(max-width: 1340px){
            flex-wrap: wrap;
            justify-content: flex-start;
        }

        @media(max-width: 937px){
            column-gap: 58px;
        }
        
        @media(max-width: 640px){
            justify-content: center;   
        }
        
        &-wrap{
            max-width: 428px;
        }
    }

    &__text{
        margin-bottom: 24px;
        min-height: 72px;

        @media(max-width: 640px){
            text-align: center;
            margin-bottom: 8px;                         
        }
    }

    &__contact-btn{
        font-size: 18px;

        @media(max-width: 640px){
            display: block;
            margin: 0 auto;                         
        }

        @media(max-width: 425px){
            font-size: 14px;
        }
    }
}