/*features section*/

.features {
    &__container {
        & ul{
            display: flex;
            justify-content: space-between;
            max-width: 100%;
            gap: 25px;
            
            @media(max-width: 1340px){
                flex-wrap: wrap;
                justify-content: flex-start;
            }

            @media(max-width: 937px){
                gap: 58px;
            }

            & li{
                display: flex;
                flex-direction: column;
                align-items: start;
                
                @media(max-width: 425px){
                    align-items: center;      
                }
                
                & p{
                    margin-bottom: 24px;
                }
            }
        }
    }

    &__icon{
        margin-bottom: 32px;

        @media(max-width: 470px){
            width: 56px;
            height: 56px;
            margin-bottom: 12px;                          
        }
        
        @media(max-width: 425px){
            margin: 0 auto 12px;                      
        }
    }

    &__subtitle {
        max-width: 440px;
        margin-bottom: 50px;
    }

    &__headline{
        margin-bottom: 16px;
        
    }

    &__text{
        height: 72px;
        max-width: calc(var(--container)/3);

        @media(max-width: 470px){
            max-width: 100%;                         
        }

        // @media(max-width: 320px){
        //     text-align: center;                     
        // }
    }

    &__contact-btn {
        // @media(max-width: 425px){
        //     display: block;
        //     margin: 0 auto;
        // }
    }
}
