/*guarantee section*/
.guarantee {

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 10px;

        @media(max-width: 1100px){
            flex-wrap: wrap; 
            justify-content: center;
            gap: 36px;    
        }
    }

    &__left {
        max-width: 564px;
    }

    &__subtitle {
        max-width: 484px;
        margin-bottom: 32px;
    }

    &__text {
        margin-bottom: 20px;

    }

    &__list {
        max-width: 564px;
    }

    &__list-item {
        margin-bottom: 12px;
        padding-left: 27px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            top: calc((48px - 16px)/2);
            left: 0;
            display: block;
            border-radius: 50%;
            width: 16px;
            height: 16px;
            background-color: var(--accent);
        }
    }

    &__right {
        display: flex;
        flex-wrap: wrap;
        max-width: 651px;
        gap: 56px 38px;

        @media(max-width: 670px){
            gap: 10px;    
        }

        @media(max-width: 640px){
            justify-content: center;   
        }
    }

    &__right-wrap {
        max-width: 300px;
    }

    &__right-icon {
        width: 60px;
        height: 60px;
        margin-bottom: 32px;
    }

    &__headline {
        margin-bottom: 16px;
        max-width: 240px;
    }
}

