/*header*/
.header {
    position: relative;
    padding-top: 84px;
    margin-bottom: 45px;

    @media(max-width: 1024px){
        padding-top: 50px;
        margin-bottom: 30px;
    }

    @media(max-width: 992px){
        padding-top: 28px;
        margin-bottom: 20px;
    }

    @media(max-width: 320px){
        margin-bottom: 0;
    }

    &__container {
        font-family: $font-Gilroy;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color);
        height: 59px;
    }

	&__right {
        display: flex;
        justify-content: space-between;
        gap: 60px;                                                  
	}

    &__contact {

        @media(max-width: 768px){
            display: none;
        }
    }

    &__menu-icon {
        position: relative;
        width: 35px;
        height: 25px;
        align-self: center;
        z-index: 5;
        cursor: pointer;

        @media(max-width: 320px){
            width: 22px;
            height: 15px;
        }

        & span{
            position: absolute;
            top: calc(50% - 2px);
            left: 0;
            width: 100%;
            height: 2px;
            background-color: var(--text-color);
            transition: all 0.3s ease 0s;
            
            @media(max-width: 320px){
                top: calc(50% - 1px);
                height: 1px;
            }

            &:first-child {
                top: 0;
            }

            &:last-child {
                top: auto;
                bottom: 0;
            }
        }

        &.active{
            & span{
                transform: scale(0);
                    &:first-child {
                        transform: rotate(-45deg);
                        top: calc(50% - 1px);
                    }
                    &:last-child {
                        transform: rotate(45deg);
                        bottom: calc(50% - 1px);
                    }
            }
        }
    }

    &__navigation{
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        right: -100%;
        @include navigation;
        // overflow: auto;
        
        &.active{
            right: 0;
        }

        & ul{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            margin: auto;
            padding: 30px;

            li + li{
                margin-top: 50px;
            }
            
            @media(max-width: 320px){
                width: 100%;
                padding: 20px;
            }
        }

        a{
            display: block;
            font-size: 25px;
            font-weight: 800;
            // line-height: 70px;
        }
    }
}

.logo{
    @media(max-width: 320px){
        width: 135px;
    }
}