/*UI kit*/
a{
    &:hover{
        color: var(--hover);
    }

    &:active{
        color: var(--active);
    }
}

button{
    &:hover{
        background-color: var(--hover);
    }

    &:active{
        background-color: var(--active);
    }
}

.header__contact-btn{
    &:hover{
        color: var(--hover);
        background-color: transparent;
    }

    &:active{
        color: var(--active);
        background-color: transparent;
    }
}

.link span {
    &:hover{
        color: var(--hover);
    }

    &:active{
        color: var(--active);
    }
}

