$font-Gilroy: 'Gilroy', sans-serif;
$font-IBM: 'IBM Plex Sans', sans-serif;

@mixin btn_big{
    font-family: $font-Gilroy;
    width: 316px;
    height: 90px;
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-color);
    background-color: var(--accent);

    @media(max-width: 992px){
        width: 290px;
        height: 70px;
    }
    
    @media(max-width: 425px){
        display: block;
        height: 64px;
        font-size: 16px;
    }
}

@mixin btn{
    font-family: $font-Gilroy;
    width: 316px;
    height: 74px;
    font-size: 16px;
    font-weight: 500;
    color: var(--bg-color);
    background-color: var(--accent);

    @media(max-width: 425px){
        width: 290px;
    }
}

@mixin contact-wrap{
    display: flex;
    flex-direction: column;
    align-items: end;

    & a{
        font-family: $font-Gilroy;
        color: var(--text-color);
        font-size: 27px;
        font-weight: 700;
        margin-bottom: 6px;
        letter-spacing: 0.7px;
    }
            
    & .grey{
        color: rgba(#fff, 0.50);
    }
}

@mixin contact-btn{
    color: var(--accent);
    font-family: $font-Gilroy;
    font-weight: 600;
    font-size: 16px;
}

@mixin navigation{
    display: flex;
    background-color: var(--bg-accent);
    overflow: auto;
    transition: all 0.8s;
}

@mixin text{
    font-family: $font-IBM;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;

    @media(max-width: 1024px){
        font-size: 14px;
        line-height: 22px;
    }

    @media(max-width: 425px){
        text-align: center;
    }
}

@mixin form{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 20px;
    max-width: 988px;

    @media(max-width: 1024px){
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 12px;
        justify-content: space-between;
    }

    @media(max-width: 425px){
        align-items: center;
    }
}
@mixin inputs{
    display: flex;
    gap: 20px;

    @media(max-width: 720px){
        flex-direction: column;
        gap: 14px;
        margin-bottom: 2px;
    }
}

@mixin input{
    width: 316px;
    padding: 27.5px 36px;
    border: 1px solid var(--text-color);
    background-color: transparent;
    outline: none;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    font-family: $font-Gilroy;
    color: rgba(#fff, 0.50);

    &::-webkit-input-placeholder {
        color: #a0a0a9;
    }
    &::-moz-placeholder {
        color: #a0a0a9;
    }
    &:-moz-placeholder {
        color: #a0a0a9;
    }
    &:-ms-input-placeholder {
        color: #a0a0a9;
    }
    &:focus {
        border-color: #ffffff;
        color: #fff;
    }
    
    @media(max-width: 425px){
        width: 290px;
    }
}

@mixin agreement{
    font-family: $font-IBM;
    max-width: 316px;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; 
    color: rgba(#fff, 0.50);

    @media(max-width: 720px){
        text-align: center;
    }

    @media(max-width: 425px){
        font-size: 10px;
        line-height: 14px;
    }
}

@mixin icon {
    margin-bottom: 32px;
    width: 60px;
    height: 60px;

    @media(max-width: 640px){
        margin: 0 auto 12px;                      
    }

    @media(max-width: 470px){
        width: 56px;
        height: 56px;
        margin-bottom: 12px;                          
    }
}

@mixin headline{
    font-family: $font-Gilroy;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
    
    @media(max-width: 640px){
        margin: 0 auto 8px;
        text-align: center;        
    }

    @media(max-width: 425px){
        text-align: center;
        font-size: 20px;
    }
}

@mixin location{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
}

